:root {
  --ocean-green: #42c6a5;
  --violet: #7061e1;
  --light-purple: #8d7cfc;
  --black: #1a1a1a;
  --no-active: #b3b3b3;
  --orange: #fc8d2d;
  --secondary-text: #666666;
  --red: #e22c4e;
  --dark-bg: #0e1621;
  --dark-element: #182533;
  --no-active-white: #8b9299;

  --vt-c-white: #ffffff;
  --text-color-light: #1a1a1a;
  --placeholder-color-light: #b3b3b3;
  --primary-color-light: #7061e1;
  --outline-color-light: #42c6a5;
  --info-color-light: #fc8d2d;
  --secondary-color-light: #f2f0ff;
  --background-color-light: #f8f7fc;
}

/* semantic color variables for this project */
:root {
  --secondary-bg-color: var(--secondary-color-light);
  --auth-input-bg: white;
  --background-color: var(--background-color-light);
  --text-color-main: var(--black);
  --footer-bg-color: white;
  --panel-bg-color: var(--secondary-color-light);
  --secondary-text-color: var(--secondary-text);
  --badge-bg-color: linear-gradient(180deg, #8d7cfc 0%, #7061e1 100%);
  --badge-bg-color-disabled: var(--secondary-color-light);

  --color-outline: var(--outline-color-light);
  --color-focus: var(--primary-colot-light);
  --placeholder-color: var(--placeholder-color-light);
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --outline-color: var(--outline-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-bg-color: var(--dark-element);
    --background-color: var(--dark-bg);
    --auth-input-bg: var(--dark-element);
    --text-color-main: white;
    --footer-bg-color: var(--dark-element);
    --panel-bg-color: var(--dark-element);
    --secondary-text-color: white;
    --badge-bg-color-disabled: var(--dark-element);
  }
}
.dark {
  --secondary-bg-color: var(--dark-element);
  --background-color: var(--dark-bg);
  --auth-input-bg: var(--dark-element);
  --text-color-main: white;
  --footer-bg-color: var(--dark-element);
  --panel-bg-color: var(--dark-element);
  --secondary-text-color: white;
  --badge-bg-color-disabled: var(--dark-element);
}
body.dark {
  --secondary-bg-color: var(--dark-element);
  --background-color: var(--dark-bg);
  --auth-input-bg: var(--dark-element);
  --text-color-main: white;
  --footer-bg-color: var(--dark-element);
  --panel-bg-color: var(--dark-element);
  --secondary-text-color: white;
  --badge-bg-color-disabled: var(--dark-element);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--text-color-main);
  width: 100vw;
  background-color: var(--background-color);
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
