@import './base.css';
@import './typo.css';

header .secondary {
  color: white;
}

#app {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  font-weight: normal;
}
body {
  display: flex;
  place-items: center;
}
.container {
  margin: 0 20px;
}
.base-input:active,
.base-input:hover,
.base-input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
.base-input {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  border: 1px solid var(--color-outline);
  border-radius: 20px;
}
.base-input::placeholder {
  font-size: 16px;
  color: var(--placeholder-color);
}

.auth input {
  background-color: var(--auth-input-bg);
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.165px;
}

.section-header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.165px;
}

.section-secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: -0.165px;
  color: #fc8d2d;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  border: 1px solid var(--violet);
  color: var(--violet);
}
input:focus + .input_icon,
input:hover + .input_icon {
  stroke: var(--violet);
}
.input_icon {
  stroke: #42c6a5;
}
button:hover:enabled {
  background-color: var(--violet);
  color: white;
}
button:disabled {
  opacity: 0.3;
  background-color: bisque;
}

.panel {
  background-color: var(--panel-bg-color);
  border-radius: 20px;
  padding: 15px 15px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .panel {
    border: 1px solid var(--color-outline);
  }
  .panel:hover {
    border: 1px solid var(--primary-color);
  }
}
.dark .panel {
  border: 1px solid var(--color-outline);
}
.dark .panel:hover {
  border: 1px solid var(--primary-color);
}

.youtube_iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.mh-100 {
  min-height: calc(100vh - 120px);
}
.flex-grow {
  flex-grow: 1;
}

.text_primary {
  color: var(--text-color-main);
}

.mt-40 {
  margin-top: 40px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mr-12 {
  margin-right: 12px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-70 {
  margin-top: 70px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.secondary {
  font-style: normal;

  color: var(--secondary-text-color);
}

.course-title-small {
  color: var(--violet);
}
